.CategoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 100px;
  gap: 40px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
